*{
    margin: o;
    padding: 0;
    box-sizing: border-box;
}
    body{
        background-image:url("../images/bg0.jpg");
        background-repeat: no-repeat;
        background-size:cover;
        background-attachment: fixed;
    
}

.login{
    display: flex;
    justify-content:space-between;
    align-items: center;
    flex-direction: column;
     text-align: center;
     gap: 2em;
    /* padding: 0em 1em; */
    margin-top: 5em;
    width: 25%;
}
/* .btn{
    display: block;
    margin: 0 auto;
} */

.signup{
    padding:1em 3em ;
    /* gap:1em; */

}
.btn-primary{
cursor: pointer;
width: 30%;
}
.btn-home{
    /* display: block;
    margin: 0 auto; */
    display: flex;
    align-items: center;
    justify-content: center;
text-align: center;
/* padding:4em; */
/* padding-bottom: 2em; */
}
